[Desktop Entry]
Name[bg]=Тайни
Name[ca]=Passwords
Name[cs]=Passwords
Name[da]=Passwords
Name[de]=Passwords
Name[el]=Passwords
Name[en_GB]=Passwords
Name[eo]=Passwords
Name[es]=Secretos
Name[eu]=Passwords
Name[fa]=رمزها
Name[fi]=Salaisuudet
Name[fr]=Passwords
Name[gl]=Segredos
Name[he]=סודות
Name[hi]=सीक्रेट्स
Name[hr]=Tajne
Name[hu]=Titkok
Name[id]=Passwords
Name[ie]=Secretes
Name[is]=Leyndarmál
Name[it]=Passwords
Name[ka]=საიდუმლოები
Name[kk]=Құпиялар
Name[ko]=시크릿
Name[nb]=Passwords
Name[nl]=Wachtwoordkluis
Name[nn]=Løyndommar
Name[oc]=Passwords
Name[pl]=Passwords
Name[pt]=Segredos
Name[pt_BR]=Passwords
Name[ro]=Secrete
Name[ru]=Passwords
Name[sl]=Skrivnosti
Name[sr]=Тајне
Name[sv]=Passwords
Name[tr]=Passwords
Name[uk]=Секрети
Name[vi]=Passwords
Name[zh_CN]=秘密
Name=Passwords
Comment[be]=Менеджар пароль для GNOME
Comment[bg]=Управление на пароли за GNOME
Comment[ca]=Un gestor de contrasenyes del GNOME
Comment[cs]=Správa hesel pro GNOME
Comment[da]=En adgangskodehåndtering til GNOME
Comment[de]=Eine Passwortverwaltung für GNOME
Comment[el]=Ένας διαχειριστής συνθηματικών για το GNOME
Comment[en_GB]=A password manager for GNOME
Comment[eo]=Pasvortadministrilo por GNOME
Comment[es]=Un gestor de contraseñas para GNOME
Comment[eu]=Pasahitzen kudeatzailea GNOMErako
Comment[fa]=مدیر گذرواژه‌ای برای گنوم
Comment[fi]=Salasanojen hallintasovellus Gnomelle
Comment[fr]=Gestionnaire de mots de passe pour GNOME
Comment[gl]=Un xestor de contrasinais para GNOME
Comment[he]=מנהל ססמאות ל־GNOME
Comment[hi]=गनोम के लिए पासवर्ड प्रबंधक
Comment[hr]=Upravitelj lozinki za GNOME
Comment[hu]=Jelszókezelő a GNOME-hoz
Comment[id]=Manajer kata sandi untuk GNOME
Comment[ie]=Un gerente de contrasignes por GNOME
Comment[is]=Lykilorða-umsýsla fyrir GNOME
Comment[it]=Un gestore di password per GNOME
Comment[ka]=GNOME-ის პაროლების მმართველი
Comment[kk]=GNOME-ға арналған парольдер менеджері
Comment[ko]=그놈용 암호 관리자
Comment[nb]=Samle alle passordene dine
Comment[nl]=Een wachtwoordbeheerder voor Gnome
Comment[nn]=Ein passordbehandlar for GNOME
Comment[pa]=ਗਨੋਮ ਲਈ ਪਾਸਵਰਡ ਮੈਨੇਜਰ
Comment[pl]=Menedżer haseł dla środowiska GNOME
Comment[pt]=Um gestor de palavras-passe para o GNOME
Comment[pt_BR]=Um gerenciador de senhas para o GNOME
Comment[ro]=Un administrator de parole pentru GNOME
Comment[ru]=Менеджер паролей для GNOME
Comment[sl]=Upravitelj gesel za GNOME
Comment[sr]=Управник лозинки за Гном
Comment[sv]=En lösenordshanterare för GNOME
Comment[tr]=GNOME için parola yöneticisi
Comment[uk]=Засіб керування паролями для GNOME
Comment[vi]=Phần mềm quản lý mật khẩu cho GNOME
Comment[zh_CN]=GNOME 的密码管理器
Comment=Manage saved passwords
Icon=org.gnome.PasswordSafe
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=Passwords --file-forwarding org.gnome.World.Secrets @@ %F @@
Terminal=false
Type=Application
Categories=Utility;GTK;GNOME;
MimeType=application/x-keepass2;
Keywords[bg]=keepass;encrypt;secure;password;manager;keepass;криптиране;шифриране;защитен;сейф;трезор;парола;кийпас;
Keywords[ca]=keepass;encripta;segur;xifrat;contrasenyes;contrasenya;gestor;
Keywords[cs]=keepass;šifrování;bezpečnost;zabezpečení;heslo;správce;
Keywords[da]=keepass;kryptér;beskyt;sikker;adgangskode;håndtering;
Keywords[el]=keepass;κρυπτογράφηση;ασφάλεια;συνθηματικό;διαχειριστής;encrypt;secure;password;manager;
Keywords[eo]=keepass;encrypt;secure;password;manager;
Keywords[eu]=keepass;zifratu;segurua;pasahitza;kudeatzailea;
Keywords[fa]=keepass;encrypt;secure;password;manager;کی‌پس;رمزنگاری;گاوصندوق;مدیر;گذرواژه;
Keywords[fi]=keepass;encrypt;secure;password;manager;salasana;salaisuus;tunnuslause;salaus;
Keywords[fr]=keepass;chiffrement;sécurisé;mot de passe;gestionnaire;
Keywords[he]=‫keepass;הצפנה;מוצפן;מפתח;מאובטח;אבטחה;ססמה;סיסמא;ססמה;ססמא;מנהל;ניהול;
Keywords[hu]=keepass;titkosítás;biztonság;jelszó;kezelő;
Keywords[it]=keepass;cifrare;cifra;sicurezza;sicuro;gestore;gestione;
Keywords[ka]=keepass;encrypt;secure;password;manager;დაშიფვრა;დაცული;პაროლი;მართვა;
Keywords[kk]=keepass;encrypt;secure;password;manager;шифрлау;қауіпсіз;пароль;басқарушы;
Keywords[nb]=keepass;krypter;sikker;passord;
Keywords[pt_BR]=keepass;criptografia;criptografar;seguro;proteger;cofre;chave de acesso;senha;passphrase;frase secreta;gerenciador;
Keywords[ru]=keepass;encrypt;secure;шифрование;защита;пароль;менеджер;
Keywords[sl]=keepass;šifriraj;varno;geslo;upravitelj;gesel;
Keywords[sr]=keepass;encrypt;secure;password;manager;кипас;кипес;кеепас;шифровање;безбедно;лозинка;управник;
Keywords[sv]=keepass;kryptera;säker;säkra;lösenord;hanterare;
Keywords[tr]=keepass;encrypt;secure;şifrele;güvenli;parola;şifre;yönetici;
Keywords[uk]=keepass;encrypt;secure;password;manager;;кіпас;шифрування;шифр;безпека;захист;пароль;керування;менеджер;
Keywords[zh_CN]=keepass;encrypt;secure;password;manager;加密;保护;密码;安全;管理;
Keywords=keepass;encrypt;secure;password;manager;
X-Purism-FormFactor=Workstation;Mobile;
X-Flatpak=org.gnome.World.Secrets
